nav.topnav { 
/*   nav element that HAS topnav class */
  text-align: center;
}

.topnav ul { 
/*   topnav class who has a ul child, ul doesn't necessarily HAVE topnav class */
  list-style-type: none;
  text-align: center;
  padding: 0;
  padding-right: 0;
}

.topnav li {
  display: inline-block;
  margin: 0 1em;
  height: 5em;
  line-height: 5em;
}

.topnav li a {
  color: black;
  text-decoration: none;
}

.topnav li a:hover:not(.active) {
  color: #AA8735;
}

.topnav .active {
  color: #AA8735;
}

h1 {
  font-style: normal;
  color: black;
  opacity: 0;
  font-size: 16px;
  overflow: hidden;
  text-align: left;
}


.grid-display{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
}

.logo {
  background: url('https://cdn.glitch.com/deb5391d-0508-4475-a0f6-2a78360eb742%2Fjpp%20logo.png?v=1560122894649');
  background-repeat: no-repeat;
  background-position: center;
  width: 6em;
  height: 6em;
  background-size: contain;
  padding: 0px;
  display: inline-block;
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 2em;
}

h1 {
  font-style: normal;
  color: black;
  opacity: 0;
  font-size: 16px;
  overflow: hidden;
  text-align: left;
}

.topnav { 
  grid-row: 1/2;
  grid-column: 2/3;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}
