@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import 'header.css';

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  box-sizing: border-box;
}

.grid-display{
  grid-template-rows: 14% 8% 50% 10% 16%;
  grid-template-columns: 20% 3% 54% 3% 20%;
}

.topnav {
  grid-column: 2/5;
}

.logo {
  grid-column: 1/2;
}

.flex-container {
  grid-row: 3/5;
  grid-column: 2/5;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid #AA8735;
  border-top: 0px;
  box-sizing: border-box;
  overflow: scroll;
  scroll-behavior: smooth;
}

.flex-container::-webkit-scrollbar { 
  width: 0 !important 
}

.flex-container-item {
  grid-column: 2/5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.item-img{
  width: 18em;
  height: 22em;
  box-sizing: border-box;
  background-image: url('https://cdn.glitch.com/deb5391d-0508-4475-a0f6-2a78360eb742%2FWhatsApp%20Image%202019-06-20%20at%202.34.11%20PM.jpeg?v=1562022743186');
  background-size: contain;
  background-repeat: no-repeat;
}

.item-text {
  width: 55%;
  height: 50%;
  margin-top: -20%;
  padding: 1em 0em 0em 1em;
  box-sizing: border-box;

}

.brown-item-top {
  border: 2px solid #AA8735;
  grid-row: 1/3;
  grid-column: 2/5;
  border-width: 0px 2px 2px 0px;

}

.brown-item-top-filler {
  grid-row: 1/3;
  grid-column: 5/6;
  border: 2px solid #AA8735;
  border-width: 0px 0px 2px 0px;
}

.brown-item-bottom {
  grid-row: 5/7;
  grid-column: 2/3;
  border: 2px solid #AA8735;
  border-width: 0px 0px 0px 2px;
}

.brown-item-side-filler {
  display: flex;
  grid-row: 3/5;
  grid-column: 1/2;
  font-size: 36px;
  color: #AA8735;
  border: 2px solid #AA8735;
  border-width: 0px 0px 2px 0px;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 9.8em;
  padding-right: 0.2em;
  padding-bottom: 0.1em;
}

.brown-item-side-filler p{
  margin: 0;
}

